/* formbox left to right transition-delay: .6s;*/
.netspinani{
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 180%;
    color: #ffffff;
    position: relative;
    animation: boxnetspinani 0.6s linear .2s;  
    animation-fill-mode: forwards;
}
@keyframes boxnetspinani {
    50%  {opacity:.08;transform: rotate(160deg)}
    60%  {opacity:.08;transform: rotate(120deg)}
    70%  {opacity:.08;transform: rotate(-180deg)}
    80%  {opacity:.08;transform: rotate(240deg)}
    90%  {opacity:.08;transform: rotate(-300deg)}
    10% {opacity:1;transform: rotate(360deg)}
}
/* formbox left to right transition-delay: .6s;*/
.formboxloginani{
    opacity: 0;
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;
    height: 460px;
    border-radius: 180%;
    color: #ffffff;
    background-image: radial-gradient(#343a40, #000000);
    position: relative;
    animation: boxkeylogin .6s linear .2s;  
    animation-fill-mode: forwards;
}
@keyframes boxkeylogin {
    0%   {left:-30%;top:-100px;opacity:0;transform: rotate(360deg);width:100px;height:100px}
    5%   {left:-30%;top:-90px;opacity:0;transform: rotate(-360deg);width:120px;height:120px}
    10%  {left:-30%;top:-80px;opacity:0;transform: rotate(110deg);width:130px;height:130px}
    15%  {left:-30%;top:-70px;opacity:0;transform: rotate(130deg);width:150px;height:150px}
    20%  {left:-30%;top:-60px;opacity:0;transform: rotate(150deg);width:180px;height:180px}
    25%  {left:-30%;top:-50px;opacity:0;transform: rotate(180deg);width:200px;height:200px}
    30%  {left:-30%;top:-40px;opacity:0;transform: rotate(210deg);width:240px;height:240px}
    35%  {left:-30%;top:-30px;opacity:0;transform: rotate(240deg);width:300px;height:300px}
    40%  {left:-30%;top:-20px;opacity:0;transform: rotate(270deg);width:340px;height:340px}
    45%  {left:-30%;top:-10px;opacity:0;transform: rotate(300deg);width:400px;height:400px}
    50%  {left:-30%;top:0px;opacity:0;transform: rotate(330deg);width:460px;height:460px}
    55%  {left:-20%;top:0px;opacity:.4;transform: rotate(360deg)}
    60%  {left:-18%;top:0px;opacity:.4;transform: rotate(360deg)}
    65%  {left:-16%;top:0px;opacity:.4;transform: rotate(360deg)}
    70%  {left:-14%;top:0px;opacity:.6;transform: rotate(360deg)}
    75%  {left:-12%;top:0px;opacity:.6;transform: rotate(360deg)}
    80%  {left:-10%;top:0px;opacity:.7;transform: rotate(360deg)}
    85%  {left:-8%;top:0px;opacity:.7;transform: rotate(360deg)}
    90%  {left:-6%;top:0px;opacity:.8;transform: rotate(360deg)}
    95%  {left:-4%;top:0px;opacity:.8;transform: rotate(360deg)}
    100% {left:0%;top:0px;opacity:1;transform: rotate(360deg)}
}
/* formbox left to right transition-delay: .6s;*/
.formboxregisterani{
    opacity: 0;
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;
    height: 460px;
    border-radius: 180%;
    color: #ffffff;
    background-image: radial-gradient(#343a40, #000000);
    position: relative;
    animation: boxkeyregister 1.6s linear .6s;  
    animation-fill-mode: forwards;
}
@keyframes boxkeyregister {
    0%   {left:-30%;top:-100px;opacity:.1;transform: rotate(360deg);background-image:radial-gradient(#343a40, #000000)}
    5%   {left:-30%;top:-90px;opacity:.1;transform: rotate(-360deg);background-image:radial-gradient(#3dda40, #0ff000)}
    10%  {left:-30%;top:-80px;opacity:.1;transform: rotate(110deg);background-image:radial-gradient(#343a40, #000000)}
    15%  {left:-30%;top:-70px;opacity:.1;transform: rotate(130deg);background-image:radial-gradient(#311a40, #ff0000)}
    20%  {left:-30%;top:-60px;opacity:.3;transform: rotate(150deg);background-image:radial-gradient(#396a40, #00ff00)}
    25%  {left:-30%;top:-50px;opacity:.3;transform: rotate(180deg);background-image:radial-gradient(#399a40, #0000ff)}
    30%  {left:-30%;top:-40px;opacity:.3;transform: rotate(210deg);background-image:radial-gradient(#343a40, #000000)}
    35%  {left:-30%;top:-30px;opacity:.3;transform: rotate(240deg);background-image:radial-gradient(#343a40, #0f5000)}
    40%  {left:-30%;top:-20px;opacity:.3;transform: rotate(270deg);background-image:radial-gradient(#3ffa40, #006100)}
    45%  {left:-30%;top:-10px;opacity:.3;transform: rotate(300deg);background-image:radial-gradient(#343a40, #000000)}
    50%  {left:-30%;top:0px;opacity:.4;transform: rotate(330deg);background-image:radial-gradient(#343a40, #00ff00)}
    55%  {left:-20%;top:0px;opacity:.4;transform: rotate(360deg);background-image:radial-gradient(#343a40, #0000ff)}
    60%  {left:-18%;top:0px;opacity:.4;transform: rotate(360deg);background-image:radial-gradient(#343a40, #0ff000)}
    65%  {left:-16%;top:0px;opacity:.4;transform: rotate(360deg);background-image:radial-gradient(#34ff40, #0f00ff)}
    70%  {left:-14%;top:0px;opacity:.6;transform: rotate(360deg);background-image:radial-gradient(#ff3a40, #000dd0)}
    75%  {left:-12%;top:0px;opacity:.6;transform: rotate(360deg);background-image:radial-gradient(#3ffa40, #00cc00)}
    80%  {left:-10%;top:0px;opacity:.7;transform: rotate(360deg);background-image:radial-gradient(#34ff40, #000000)}
    85%  {left:-8%;top:0px;opacity:.7;transform: rotate(360deg);background-image:radial-gradient(#34ff40, #000cc0)}
    90%  {left:-6%;top:0px;opacity:.8;transform: rotate(360deg);background-image:radial-gradient(#367a40, #0cc000)}
    95%  {left:-4%;top:0px;opacity:.8;transform: rotate(360deg);background-image:radial-gradient(#349040, #000000)}
    100% {left:0%;top:0px; opacity:1;transform: rotate(360deg);background-image:radial-gradient(#3d1240, #00dd00)}
}
.formboxcontactani{
    opacity: 0;
    border: 5px solid #c0c0c0;
    border-style: inset;
    width: 420px;
    height: 420px;
    margin-top: 2px;
    margin-bottom: -20px;
    border-radius: 180%;
    position:relative;
    animation: boxkeycontact 3.0s linear 2.1s;   
    animation-fill-mode: forwards;
}

@keyframes boxkeycontact {
    0%   {left:-30%;top:-100px;opacity:.1;transform: rotate(360deg);width: 420px;height: 420px}
    5%   {left:-27%;top:-100px;opacity:.1;transform: rotate(-360deg);width: 420px;height: 420px}
    10%  {left:-24%;top:-100px;opacity:.1;transform: rotate(110deg);width: 420px;height: 420px}
    15%  {left:-21%;top:-100px;opacity:.1;transform: rotate(130deg);width: 420px;height: 420px}
    20%  {left:-18%;top:-100px;opacity:.3;transform: rotate(150deg);width: 420px;height: 420px}
    25%  {left:-15%;top:-100px;opacity:.3;transform: rotate(180deg);width: 420px;height: 420px}
    30%  {left:-12%;top:-100px;opacity:.3;transform: rotate(210deg);width: 420px;height: 420px}
    35%  {left:-9%;top:-100px;opacity:.3;transform: rotate(240deg);width: 420px;height: 420px}
    40%  {left:-6%;top:-100px;opacity:.3;transform: rotate(270deg);width: 420px;height: 420px}
    45%  {left:-3%;top:-100px;opacity:.3;transform: rotate(300deg);width: 420px;height: 420px}
    50%  {left:0%;top:-100px;opacity:.4;transform: rotate(330deg);width: 420px;height: 420px}
    55%  {left:0%;top:-90px;opacity:.4;transform: rotate(360deg);width: 420px;height: 420px}
    60%  {left:0%;top:-80px;opacity:.4;transform: rotate(360deg);width: 420px;height: 420px}
    65%  {left:0%;top:-70px;opacity:.4;transform: rotate(360deg);width: 420px;height: 420px}
    70%  {left:0%;top:-60px;opacity:.6;transform: rotate(360deg);width: 420px;height: 420px}
    75%  {left:0%;top:-50px;opacity:.6;transform: rotate(360deg);width: 420px;height: 420px}
    80%  {left:0%;top:20px;opacity:.7;transform: rotate(360deg);width: 420px;height: 420px}
    85%  {left:0%;top:10px;opacity:.7;transform: rotate(360deg);width: 420px;height: 420px}
    90%  {left:0%;top:0px;opacity:.8;transform: rotate(360deg);width: 420px;height: 420px}
    95%  {left:0%;top:10px;opacity:.8;transform: rotate(360deg);width: 420px;height: 420px}
    100% {left:0%;top:0px; opacity:1;transform: rotate(360deg);border-radius: 0%;width: 620px;height: 420px}
}
.video-container {
    height: 420px;
    width: 420px;
    overflow: hidden;
} /* overflow: hidden; */
.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .contacttext {
    z-index: 1;
    /* position: relative; */
    position: relative;
    text-align: center;
    color: #000000;
    font-family: 'Antic';
    font-size: 20px;
}