
/*  font-family: 'Roboto', Sans-Serif , monospace;
    font-family: 'Charmonman', Sans-Serif , monospace;
*/
.navbar {
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #b3d7ff;
    color: #686868;
    height: 90px;
}
body{
    font-display: swap;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', Sans-Serif , monospace;
    font-size: 16px;
}
/* begin drop zone */
.drop-zone__prompt{
    color: #000;
    font-size: 20px;   
}
.drop-zone {
    max-width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #000;
    border: 2px dashed #696c6f;
    background-image: radial-gradient(#fff, #EAF2F8);
}
.drop-zone--over {
    border-style: solid;
}
.drop-zone:hover {
    border-style: solid;
    background-image: radial-gradient(#ffffff, #b3d7ff);
}
.drop-zone__input {
    display: none;
}
.drop-zone__txt {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}
.drop-zone__txt::after {
    content: attr(data-content);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}
/* end drop zone */
/* end drop zone */
.logosignnormal{
    font-family: 'Charmonman', Sans-Serif , monospace;
}
.netappsheadertext{
    font-size: 36px;  
    font-family: 'Charmonman', Sans-Serif , monospace; 
}
.fonttinyfancy{
    font-size: 14px;
    font-family: 'Charmonman', Sans-Serif , monospace;
}
.tab {
    display: inline-block;
    margin-left: 30px;
}

.row.content {height: 100%;}
.sidenav {
    height: 100%;
    width: 160px;
}
/* global formbox */
.formbox{
    margin-left: 0;
    margin-right: 0;
    border-radius: 3%;
    border: 1px solid #ffffff;
    background-color: #f8f9fa;
}
footer {
    border-radius: 20px;
    border: 1px solid #b3d7ff;
    background-color: #ffffff;
}
/* All about links main buttons */
a{text-decoration: none;}
a:link {
    color: #008080;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
.formboxregisterani{
    opacity: 0;
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;
    height: 460px;
    border-radius: 180%;
    color: #000000;
    background-image: radial-gradient(#b3d7ff, #ffffff);
    position: relative;
    animation: boxkeyregister 1.0s linear .2s;  
    animation-fill-mode: forwards;
}
.formboxloginani{
    opacity: 0;
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;
    height: 460px;
    border-radius: 180%;
    color: #000000;
    background-image: radial-gradient(#b3d7ff, #ffffff);
    position: relative;
    animation: boxkeylogin 1.0s linear .2s;  
    animation-fill-mode: forwards;
}

.rulesdisplay{
    color:#000;
    font-size: 13px;  
    width: 100%; 
    height: 100%;
    padding: 0px; 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */
}
.tools-zone{
    max-width: 100%;
    height: 498px;
    padding: 3px;  
    border-left: 1px solid #ccc;;
    border-right: 1px solid #ccc;
    border-radius: 3%;
}
/* begin global buttons */
.netbutton{
    border-radius: 10%;
    border: 1px solid #3bb3e0;
    padding: 15px;
    padding: 2px 4px 5px 4px;
    font-weight: bold;
    background: #fff;
}
.netbutton:hover {
    background: #b3d7ff;
    color: #fff;
    border-radius: 10%;
    border: 1px solid #3bb3e0;
    padding: 2px 4px 5px 4px;
}
/* end global buttons */
/* End All about links main buttons */
/* begin opt tool top bot and buttons */
.topopttab {
    width: 100%;
    padding: 3px 15px 3px 15px;
    border-radius: 20px 20px 0px 0px;
    background-image: radial-gradient(#b3d7ff,#fff);
    border-top: 2px solid #696c6f;
    border-left: 2px solid #FBEEE6;   
    border-right: 2px solid #FBEEE6;
}
/** */
.footeropt{
    width: 100%;
    padding: 3px 15px 3px 15px;
    border-radius: 0px 0px 20px 20px;
    background-image: radial-gradient(#b3d7ff,#fff);
    border-bottom: 2px solid #696c6f;
    border-left: 2px solid #FBEEE6;
    border-right: 2px solid #FBEEE6;
}
.netbutopttop{
    max-width: 120px;
    height: 26px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #696c6f;
    border-radius: 20% 20% 0% 0%;
    background-color: #ffffff;
    color: #008080;
    text-decoration:none;
    font-size: 18px;
}
.netbutopttop:hover {
    color: #000;
    background-image: radial-gradient(#ffffff,#b3d7ff);
    text-decoration:none;
}
/* buttom buttons */
.netbutbottom{
    max-width: 120px;
    height: 26px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #696c6f;
    border-radius: 0% 0% 20% 20%;
    background-color: #ffffff;
    color: #008080;
    text-decoration:none;
    font-size: 18px;
}
.netbutbottom:hover {
    color: #000;
    background-image: radial-gradient(#ffffff,#b3d7ff);
    text-decoration:none;
}
/* end top bot opt plus opt buttons */

/* begin global share button */
.divsharebtn{
    margin-left: 0px;
    border-radius: 50px;
    border: 1px solid #4287f5;
    background-color: #ffffff;
    background-image: radial-gradient(#b3d7ff, #ffffff);
    color: #000000;
    text-align: center;
    font-family: 'Charmonman', Sans-Serif , monospace;
    font-size: 16px;
    width: 160px;
    height: 44px;
}
/* use in div */
.boxforregister {
    border-radius: 20px;
    border: 1px solid #b3d7ff;
}
/* look and feel */
.divcolorbtn{
    border-radius: 50px;
    border: 1px solid #4287f5;
    background-color: #ffffff; 
    background-image: radial-gradient(#b3d7ff, #ffffff);
    width: 110px;
    height: 56px; 
}
.divcolorbtnrow{
    width: 170px;
    height: 24px; 
}
.colorimghvr:hover{
    opacity: .4;
}

.shareimghvr:hover{
    opacity: .5;
}
/* global input */
.input[type=button], input[type=submit], input[type=reset]:hover {
    /* background-color: #b3d7ff; */
}
.input[type=button], input[type=submit], input[type=reset] {
}
/* Author Name and Date font style color */
authordate{
    font-display: swap;
    float: right;
    font-family: 'Charmonman', Sans-Serif , monospace;
}
.sign{
    font-family: 'Charmonman', Sans-Serif , monospace;
}
commenttextstyle{
}
commenttextstylesmall{
}
.commenttextarea{
    width: 99%; 
    height: 150px;
    padding: 10px; 
    border:0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */
}
.commentadminbox{
    border-radius: 20px;
    border: 1px solid #b3d7ff;
}
label {
    display: inline-block;
}
select {
}
table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
th,
td { 
    padding: 2px;
}
input {
    color: #000;
    padding-top: 0;
    padding-left: 0;
}
textarea{
    color: #000;
    padding-top: 0;
    padding-left: 0;
}
* {
    box-sizing: border-box;
}
.input[type=text]{ 
    border: none;
    padding: 4px 4px;
    margin: 1px 1px;
    cursor: pointer;
}
.col-25 {
    width: 25%;
    margin-bottom: 6px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*begin register .net pin  */
.card {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}
/*end register .net pin  */
/* Begin Side Panel Regular Text font style color */
.netapplink {
    float: left;
    text-align: left;
    padding: 0px;
}
.netapplink:hover {
    float: left;
    text-align: left;
    padding: 0px;
}
.netappsptext{
    text-align: left;
    padding: 0px;
}
.netappsptextsmall{
    padding: 0px;
}
/* End Side Panel Regular Text font style color */

/* charmonman-regular - latin */
@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/charmonman-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/charmonman-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/charmonman-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/charmonman-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/charmonman-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/charmonman-v8-latin-regular.svg#Charmonman') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

a {text-decoration: none;}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
    }
    .row.content {
        height: auto;
        margin-top: 160px;
    } 
    netappsheadertext{
        display: none; 
    }

    /* Responsive layout - when the screen is less than 600px wide, 
    make the two columns stack on top of each other instead of 
    next to each other */
    .col-25, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .products{
        display: none;
    }
    .fly-in{
        display: none;
    }
    .divcolorbtnrow{
        display: none;
    }
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 1069px) {
    .demoweb{
       display: none;
    }
}